<script type="text/javascript">
    $(document).ready(function() {
        var collectionHolder = $('div#photos');

        collectionHolder.data('index', collectionHolder.find('div.photo').length);

        collectionHolder.find('div.photo').each(function() {
            addPhotoFormDeleteLink($(this));
        });

        $('#add-photo').on('click', function(e) {
            e.preventDefault();
            addPhotoForm(collectionHolder);
        });
    });

    function addPhotoForm(collectionHolder) {
        var prototype = collectionHolder.data('prototype'),
                index = collectionHolder.data('index'),
                newForm = $(prototype.replace(/__name__/g, index));

        addPhotoFormDeleteLink(newForm);

        collectionHolder.data('index', index + 1);
        $('div#photos').append(newForm);
    }

    function addPhotoFormDeleteLink($photoForm) {
        var $removeForm = $('<button class="close">&times;</button>');
        $photoForm.find("div.remove").append($removeForm);

        $removeForm.on('click', function(e) {
            e.preventDefault();
            $photoForm.remove();
        });
    }
</script>